@model IEnumerable<WorldCupContest.Models.RegisterTournament>

@{
    ViewData["Title"] = "Index";
}

<h1>Tournaments home page</h1>

<p>
    <a asp-action="Create">Create New Tournament</a>
    @using (Html.BeginForm("Index", "RegisterTeams", FormMethod.Get))
    {
        <button type="submit" name="botao1" id="botao1">Create New Team</button>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tournament Name
            </th>
            <th>
                Tournament Date
            </th>
            <th>
                Away Home Game
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TournamentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayHomeGame)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
